@media only screen and (max-width: 1223px) {
    

    
    body{
    margin-left: auto;
    margin-right: auto;
    }
    
    h1{
        font-size: 30px;
        
    }
    
    h2 {
        color: #000;
        font-weight: 400;
        line-height: 1;
        font-size: 14px;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        }
    
    h5{
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-weight: 600;
        font-size: 12px;
}
    
    h9{
        font-size: 15px;
    }
    
    h7{
        font-size: 12px;
    }
    
    
    
    .container {
        width: 300px;
        height: 100vh;
        position: static;
        border: solid #000;
        border-width: 0px 0px 0px 0px;
    }
    
     .container2 {
        width: 300px;
        height: 100%;
        position: static;
        border: solid #000;
        border-width: 0px 1px 1px 1px;
    }
    
    
    .title-container{
        width: 300px;
        height: 160px;
        position: static;
        border: solid #000;
        border-width: 0px 1px 1px 0px;   
    }
    
    sub, sup {
        line-height: 1;
        left: -7px;
        position: relative;
        vertical-align: relative;
        }
    




    
    .column1{
        width: 400px;
    }
    
    .title{
        position: static;
        width: 300px;
        left: 20px;
        height: 135px;
        border: none;
        padding-top: 10px;
        }
    
    .definition-lines{
        width: 301px;
        }
    
    .definition-lines-2{
        position: static;
        width: 301px;
        border: solid #000;
        border-width: 0px 0px 1px 0px;
        }
    
    .image_column{
        width: 260px;
        height: auto;
        padding-top: 20px;
        position: static;
        overflow: scroll;
        border: solid #000;
        border-width: 0px 1px 0px 1px;
        overflow-x: hidden;
    } 
    
    .door_open{
        width: 260px;
    }
    
    .logo{
        padding-top: 7px;
        width: 40px;
        padding-left: 10px;
        margin-left: 0px;
        height: 23px;
        border-width: 1px;
        border-color: #000;
        border-style: solid;
        border-width: 0 1px 1px 1px;
        background-color: white;
    }
    
    .column1{
        width: 301px;
        height: 30px;
    border: 2px solid #000;
    border-width: 0px 0px 1px 0px;
    background-color: white;
}
    
    .image{
        width: 260px;
        left: 0px;
        right: 0px;
        position: relative;
        overflow: scroll;
        overflow-x: hidden;
    }
    
    .intro{
        position: static;
        height: auto;
        width: 300px;
        border: solid #000;
        border-width: 0px 1px 1px 1px;
    }
    

    
    .intro2{
    position: static;
    height: auto;
        padding-top: 30px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 40px;
    width: 230px;
    animation: slide-down forwards 1.5s ease;
    overflow: scroll;
    
    
    
}
    
    .float_box{
        visibility: hidden;
        
    }
    
    .float{
        visibility: hidden;
    }
    
    .float2{
        visibility: hidden;
    }
    
    .float_box_2{
        visibility: hidden;
    }
    
    .namebox{
    left: 0px;
    top: 140px;
    position: static;
    height: 33px;
    width: 150px; 
    border: 0px solid #000;
    border-width: 0px 0px 1px 0px;
}

    .nav1{
        position: static;
    padding-top: 7px;
    width: 130px;
    margin-left: 20px;
    height: 27px;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    border-width: 0 1px 0 0;


}
    
    .response{
    
    top: -136px;
    left: 150px;
    height: 33px;
    width: 150px; 
    border: 0px solid #000;
    border-width: 0px 0px 1px 0px;

}
    
    .definitions{
    position: fixed;
    bottom: 7px;
    width: 110px;
    font-size: 6px;
    line-height: 1.2;
    padding-left: 20px;
}

    .definition-box{
        background-color: white;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        bottom: 0px;
        height: 125px;
        width: 299px;
        border: 1px solid #000;
        border-width: 1px 0px 0px 0px;
    }
    
    @keyframes slide-down{
    0%{
        transform: translateY(-800px);
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        
    }
    }
    
    .image-lines{
        width:  280px;
        position: static;
    }
    
    
}