
    a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog,
div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form,
header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s,
samp, section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    border: 0;
    margin: 0;
    padding: 0;
}


body, html{
    background-color: #000;
    -webkit-font-smoothing: antialiased;
}



article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block
}


b, strong {
    font-weight: 700
}

ol, ul {
    list-style: none
}

li {
    display: list-item;
    list-style: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, td, th {
    font-weight: 400;
    vertical-align: top;
    text-align: left
}

q {
    quotes: none
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    font-style: italic;
}

q:after, q:before {
    content: '';
    content: none
}

small, sub, sup {
    font-size: 20%;
}

sub, sup {
    line-height: 1;
    left: -18px;
    position: relative;
    vertical-align: relative;
}

sub {
    bottom: -.35em
}

sup {
    top: -.80em;
    font-size: 0.25em;
    font-weight: 400;
}

svg {
    overflow: hidden;
}

input, button, submit { 
    border:none; }

@font-face {
    font-family: gt_zirkon_medium;
    src: url(assets/fonts/GT-Zirkon-Medium-v2.otf);
}

@font-face {
    font-family: gt_zirkon_regular;
    src: url(assets/fonts/GT-Zirkon-Regular-v2.otf);
}

@font-face {
    font-family: gt_zirkon_thin;
    src: url(assets/fonts/GT-Zirkon-Thin-v2.otf);
}

@font-face {
    font-family: gt_zirkon_book;
    src: url(assets/fonts/GT-Zirkon-Book-v2.otf);
}

h1 {
    color: white;
    font-weight: 500;
    line-height: 1;
    font-size: 55px;
    font-family: "gt_zirkon_medium", "Helvetica", "Arial", sans-serif;
}


h2 {
    color: white;
    font-weight: 200;
    line-height: 1.2;
    font-size: 15px;
    font-family: "gt_zirkon_medium", "Helvetica", "Arial", sans-serif;
}

h3 {
    color: white;
    font-weight: 500;
    line-height: 1;
    font-size: 55px;
    font-family: "gt_zirkon_thin", "Helvetica", "Arial", sans-serif;
}

.project:hover h1{
    font-style: oblique;
}

.project:hover img {
    display:block;
}

.project img {
    position: absolute;
    left: 50%;
    width:50%;
    display: none;
    top:0;
}


p {
    font-family: "gt_zirkon_book";    
    color: white;
    font-weight: 200;
    font-size: 15px;
    line-height: 17px;
}


.container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    border: solid white;
    border-width: 0px 0px 0px 0px;
    overflow: scroll;
}

.c1{
    float: left;
    width: 50%;
}

.c2{
    float: left;
    width: 100%;
    overflow: scroll;
}

.project{
    float: left;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}



.project1: hover + .image{
    opacity: 1;
}

.rule{
    float: left;
    width: 100%;
    border: solid white;
    border-width: 1px 0px 0px 0px;
}

.image{
    width: 100%;
    opacity: 1;
}

.skinny{
    float: left;
    width: 45%;

}

.details{
    float: left;
/*    width: 45%;*/
    padding-left: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}


.links{
    float: left;
    width: 40%;
    margin-top: 20px;
}

.indent{
    margin-left: 40px;
}

.header{
    float: left;
/*    width: 100%;*/
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.back{
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.right{
    float: right;
}




/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    
 .container{
/*        background-color: red;*/
        overflow-y: none;
    }
    
    h1 {
    color: white;
    font-weight: 500;
    line-height: 1;
    font-size: 20px;
    font-family: "gt_zirkon_medium", "Helvetica", "Arial", sans-serif;
    }
    
    h2 {
    color: white;
    font-weight: 200;
    line-height: 1.2;
    font-size: 12px;
    font-family: "gt_zirkon_medium", "Helvetica", "Arial", sans-serif;
    }
    
    h3 {
    color: white;
    font-weight: 500;
    line-height: 1;
    font-size: 22px;
    font-family: "gt_zirkon_thin", "Helvetica", "Arial", sans-serif;
    }
    
    p {
    font-family: "gt_zirkon_book";    
    color: white;
    font-weight: 200;
    font-size: 12px;
    line-height: 14px;
    }
    
    .c1{
        width: 100%;
        overflow-x: hidden;
    }

    
    .project{
    float: left;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
    .project:hover img {
    display:none;
    }

    .project img {
    position: absolute;
    left: 50%;
    width:50%;
    display: none;
    top:0;
    }

    .details{
        width: 100%;
    }
    
    .right{
        float: left;
    }
    
    .header{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    }   
    
    


}

/* iPad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
 .container{
/*        background-color: coral;*/
    }
    
    h1 {
    color: white;
    font-weight: 500;
    line-height: 1;
    font-size: 55px;
    font-family: "gt_zirkon_medium", "Helvetica", "Arial", sans-serif;
    }
    
    h2 {
    color: white;
    font-weight: 200;
    line-height: 1.2;
    font-size: 17px;
    font-family: "gt_zirkon_medium", "Helvetica", "Arial", sans-serif;
}
    
    h3 {
    color: white;
    font-weight: 500;
    line-height: 1;
    font-size: 55px;
    font-family: "gt_zirkon_thin", "Helvetica", "Arial", sans-serif;
    }
    
    p {
    font-family: "gt_zirkon_book";    
    color: white;
    font-weight: 200;
    font-size: 15px;
    line-height: 17px;
    }
    
    .c1{
        width: 100%;
    }

    
    .project{
    float: left;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    }
    
    .project:hover img {
    display:none;
    }

    .project img {
    position: absolute;
    left: 50%;
    width:50%;
    display: none;
    top:0;
    }

    .details{
        width: 100%;
    }
    
    .right{
        float: left;
    }
    
    


}


/* Small Desktop Styles */
@media only screen and (min-width: 961px) and (max-width: 1200px) {
    
 .container{
/*        background-color: red;*/
    }
    
    h1 {
    color: white;
    font-weight: 500;
    line-height: 1;
    font-size: 70px;
    font-family: "gt_zirkon_medium", "Helvetica", "Arial", sans-serif;
    }
    
    h2 {
    color: white;
    font-weight: 200;
    line-height: 1.2;
    font-size: 30px;
    font-family: "gt_zirkon_medium", "Helvetica", "Arial", sans-serif;
}
    
    h3 {
    color: white;
    font-weight: 500;
    line-height: 1;
    font-size: 70px;
    font-family: "gt_zirkon_thin", "Helvetica", "Arial", sans-serif;
    }
    
    p {
    font-family: "gt_zirkon_book";    
    color: white;
    font-weight: 200;
    font-size: 30px;
    line-height: 32px;
    }
    
    .c1{
        width: 100%
    }

    
    .project{
    float: left;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    }
    
    .project:hover img {
    display:none;
    }

    .project img {
    position: absolute;
    left: 50%;
    width:50%;
    display: none;
    top:0;
    }

    .details{
        width: 100%;
    }
    
    .right{
        float: left;
    }


}


/* Large Desktop Styles */
@media only screen and (min-width: 1201px)and (max-width: 1400px)

{

    .container{
/*        background-color: aqua;*/
    }

}

