@media only screen and (max-width: 1150px) {
    
    h1{
        color: white;
        font-weight: 100;
        line-height: 1;
        font-size: 45px;
        font-family: "gt_sectra_display", 
            "Helvetica Neue", "Helvetica", "Arial", 
            sans-serif;
    }
    
    h2{
        font-family: "gt_sectra_display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        color: white;
        line-height: .5em;
        font-size: 15px;
        font-weight: 100;
    }
    
    h3{
        font-family: "gt_sectra_display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        color: white;
        line-height: 1em;
        font-size: 30px;
        font-weight: 100;
        color: #fff;
        
    }
    
  
    .home-bar{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .title{
        width: 300px;
        height: 50px;
        margin-left: 10px;
        margin-top: 30px;
        margin-bottom: 10px;
        
    }
    
    .title:hover{
        border: none;
    }
    
    .work{
        float: left;
        width: 300px;
        height: 30px;
        margin-left: 10px;
        margin-right: 25px;
        border: solid white;
        border-width: 0px 0px 0px 0px;
        padding-bottom: 3px;
        
    }
    
    .work:hover{
        border: none;
    }
    
    .contact{
        
        float: left;
        width: 300px;
        height: 30px;
        margin-right: 25px;
        margin-left: 10px;
        border: solid white;
        border-width: 0px 0px 0px 0px;
        padding-bottom: 3px;
    }
    
    .contact:hover{
        border: none;
    }
   
    
    .cv{
        
        float: left;
        width: 300px;
        height: 30px;
        margin-left: 10px;
        margin-right: 25px;
        border: solid white;
        border-width: 0px 0px 0px 0px;
        padding-bottom: 3px;
    }
    
    .cv:hover{
        border: none;
    }
    
    .top-bar{
        height: 0px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .top-bar:hover{
        border: none;
    }
    
    .work-bar{
        float: left;
        width: 32px;
        height: 0px;
        padding-top: 15px;
        padding-left: 2px;
        border: solid white;
        border-width: 0px 0px 0px 0px;
        padding-bottom: 3px;
    }
    
    .work-bar:hover{
        border: none;
    }
    
    .title-bar{
        float: left;
        width: 90px;
        height: 0px;
        padding-left: 2px;
        padding-top: 15px;
        border: solid white;
        border-width: 0px 0px 0px 0px;
        padding-bottom: 3px;
    }
    
    .title-bar:hover{
        border: none;
    }
    
    .contact-bar{
        width: 50px;
        height: 0px;
        padding-top: 15px;
        padding-left: 4px;
        border: solid white;
        border-width: 0px 0px 0px 0px;
        padding-bottom: 3px;
        
    }
    
    .contact-bar:hover{
        border: none;
    }
    
    .CV-bar{
        width: 110px;
        height: 10px;
        padding-top: 15px;
        padding-left: 2px;
        border: solid white;
        border-width: 0px 0px 0px 0px;
        padding-bottom: 3px;
    }
    
    .CV-bar:hover{
        border: none;
    }
    
    .body_copy{
        margin-bottom: 100px;
        margin-top: 20px;
        margin-left: 30px;
        width: 300px;
}
    
    .description2{
        margin-left: 20px;
        margin-top: 30px;
}
    
    .CV_container{
        margin-top: 50px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
}

.CV_body_copy{
        margin-bottom: 100px;
        margin-top: 20px;
        margin-left: 20px;
        width: 300px;
}
    
   
}